CalcWeb/src/conf/xml-resources/web-service-references/wscalc1/wsdl/localhost_8080/AppServer1/wscalc1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="wscalc1">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/AppServer1/wscalc1?xsd=1"/>
</xsd:schema>
</types>
<message name="restar">
<part name="parameters" element="tns:restar"/>
</message>
<message name="restarResponse">
<part name="parameters" element="tns:restarResponse"/>
</message>
<message name="sumar">
<part name="parameters" element="tns:sumar"/>
</message>
<message name="sumarResponse">
<part name="parameters" element="tns:sumarResponse"/>
</message>
<message name="multiplicar">
<part name="parameters" element="tns:multiplicar"/>
</message>
<message name="multiplicarResponse">
<part name="parameters" element="tns:multiplicarResponse"/>
</message>
<message name="dividir">
<part name="parameters" element="tns:dividir"/>
</message>
<message name="dividirResponse">
<part name="parameters" element="tns:dividirResponse"/>
</message>
<portType name="wscalc1">
<operation name="restar">
<input wsam:Action="http://ws/wscalc1/restarRequest" message="tns:restar"/>
<output wsam:Action="http://ws/wscalc1/restarResponse" message="tns:restarResponse"/>
</operation>
<operation name="sumar">
<input wsam:Action="http://ws/wscalc1/sumarRequest" message="tns:sumar"/>
<output wsam:Action="http://ws/wscalc1/sumarResponse" message="tns:sumarResponse"/>
</operation>
<operation name="multiplicar">
<input wsam:Action="http://ws/wscalc1/multiplicarRequest" message="tns:multiplicar"/>
<output wsam:Action="http://ws/wscalc1/multiplicarResponse" message="tns:multiplicarResponse"/>
</operation>
<operation name="dividir">
<input wsam:Action="http://ws/wscalc1/dividirRequest" message="tns:dividir"/>
<output wsam:Action="http://ws/wscalc1/dividirResponse" message="tns:dividirResponse"/>
</operation>
</portType>
<binding name="wscalc1PortBinding" type="tns:wscalc1">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="restar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sumar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplicar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dividir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wscalc1">
<port name="wscalc1Port" binding="tns:wscalc1PortBinding">
<soap:address location="http://localhost:8080/AppServer1/wscalc1"/>
</port>
</service>
</definitions>