AppServer1/src/conf/xml-resources/web-service-references/calculadoraWS/wsdl/localhost_8080/sgarci18CalcWS/calculadoraWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="calculadoraWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/sgarci18CalcWS/calculadoraWS?xsd=1"/>
</xsd:schema>
</types>
<message name="sumar">
<part name="parameters" element="tns:sumar"/>
</message>
<message name="sumarResponse">
<part name="parameters" element="tns:sumarResponse"/>
</message>
<message name="restar">
<part name="parameters" element="tns:restar"/>
</message>
<message name="restarResponse">
<part name="parameters" element="tns:restarResponse"/>
</message>
<message name="multiplicar">
<part name="parameters" element="tns:multiplicar"/>
</message>
<message name="multiplicarResponse">
<part name="parameters" element="tns:multiplicarResponse"/>
</message>
<message name="dividir">
<part name="parameters" element="tns:dividir"/>
</message>
<message name="dividirResponse">
<part name="parameters" element="tns:dividirResponse"/>
</message>
<portType name="calculadoraWS">
<operation name="sumar">
<input wsam:Action="http://ws/calculadoraWS/sumarRequest" message="tns:sumar"/>
<output wsam:Action="http://ws/calculadoraWS/sumarResponse" message="tns:sumarResponse"/>
</operation>
<operation name="restar">
<input wsam:Action="http://ws/calculadoraWS/restarRequest" message="tns:restar"/>
<output wsam:Action="http://ws/calculadoraWS/restarResponse" message="tns:restarResponse"/>
</operation>
<operation name="multiplicar">
<input wsam:Action="http://ws/calculadoraWS/multiplicarRequest" message="tns:multiplicar"/>
<output wsam:Action="http://ws/calculadoraWS/multiplicarResponse" message="tns:multiplicarResponse"/>
</operation>
<operation name="dividir">
<input wsam:Action="http://ws/calculadoraWS/dividirRequest" message="tns:dividir"/>
<output wsam:Action="http://ws/calculadoraWS/dividirResponse" message="tns:dividirResponse"/>
</operation>
</portType>
<binding name="calculadoraWSPortBinding" type="tns:calculadoraWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sumar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="restar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplicar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dividir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="calculadoraWS">
<port name="calculadoraWSPort" binding="tns:calculadoraWSPortBinding">
<soap:address location="http://localhost:8080/sgarci18CalcWS/calculadoraWS"/>
</port>
</service>
</definitions>